.cities {
    position: relative;

    &::after {
      content: '';
      display: table;
      clear: both;
    }

    .city {
      padding: 20px 18px;
      float: left;

      &:nth-child(2) {
        float: right;
      }

      strong {
        font-size: 40px;
        font-weight: 300;
        line-height: 1;
      }

      small {
        margin-bottom: 0px;
        margin-left: 3px;
      }
    }

    .airplane {
      position: absolute;
      width: 30px;
      height: 25px;
      top: 57%;
      left: 30%;
      opacity: 0;
      transform: translate(-50%, -50%);
      animation: move 4s infinite;
    }